/* resetting rules */

/* colors
#008184
#e47128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/* arduino webpage sections */

/* header section */
h2 {
  font-size: 36px !important;
  border-bottom: 2px solid #4285f4;
}
.arduino-card {
  background-color: transparent !important;
  border: none !important;
  transition: box-shadow linear 0.3s;
}

.arduino-card:hover {
  background-color: #fff;
  box-shadow: 0px 0px 8px 1px #d3d4d5;
}
