/* resetting rules */

/* colors
#008184
#e47128
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
}

/* arduino webpage sections */

/* header section */
h2 {
  font-size: 36px !important;
  border-bottom: 2px solid #4285f4;
}
.arduino-card {
  background-color: transparent !important;
  border: none !important;
  transition: box-shadow linear 0.3s;
}

.arduino-card:hover {
  background-color: #fff;
  box-shadow: 0px 0px 8px 1px #d3d4d5;
}

/* footer section */
.footer-ending {
  background-color: #ecf1f1;
  border-top: 1px solid #cfd8dc;
}

.upt-btn {
  color: #5d6a6b !important;
  /* font-size: 43px !important; */
  position: fixed;
  right: 15px;
  bottom: 51px;
  transition: all 0.7s ease;
}

.upt-btn:hover{
  display: inline-block;
  color: #00878f !important;
}
